<h2>Details of the event:</h2>
<p>aqui debe llegar la info de cada concierto, una vez haya sido concretado por el local,</br>
tambien un boton de asistir a vento y una notificacion por si el usuario no esta logeado </p>
<ul>
    <li>{{ establishments.description }}</li>
    <li>{{band.image}}</li>
    <li>{{user.bandName}}</li>
    <li>{{user.establishmentName}}</li>
    <li>{{event.schedule}}</li>
    <li>{{event.price}}</li>
    <li>{{event.durationMins}}</li>
</ul>