<div class="cards-container">
  <div class="user-name">{{userFound.username}}, Your events with BAND:</div>
  <div class="fecha">{{fecha}}</div>
  <ul class="event-list-bookings">
    {{#each events}}
    <div>
      <li>{{name}}</li>
      <li>{{description }}</li>
      <li>{{establishment.name}}</li>
    </div>

    {{/each}}
  </ul>
  <p>partial</p>
</div>