<div class="cards-container">
  <div class="user-name">{{userFound.username}}, Your events with BAND:</div>
  <div class="fecha">{{fecha}}</div>
  <ul class="event-list-bookings">

    <p>name:{{name}}</p>
    {{!-- {{#each events}} --}}
    <div>
      <ul>
        <li>{{events.name}}</li>
        <li>{{events.description }}</li>
        <li>{{establishment.name}}</li>
      </ul>

    </div>

    {{!-- {{/each}} --}}
  </ul>
  <p>partial</p>
</div>