<div class="booked-events">
    <img class="establishment-logo" src="{{this.establishment.avatar}}" alt="">
    <h3>{{this.name}}</h3>
    <p>{{this.establishment.description}}</p>
    <p>{{this.establishment.street}}, {{this.establishment.zip}}, {{this.establishment.city}}</p>
    <br>


</div>