<div class="booked-events">
    <img class="establishment-logo" src="{{this.establishment.avatar}}" alt="">
    <h3>{{this.name}}</h3>
    <p>{{this.establishment.description}}</p>
    <p>{{this.establishment.street}}, {{this.establishment.zip}}, {{this.establishment.city}}</p>


</div>

<p>{{this.establishment.name}}</p>
<p></p>
<p>{{this.establishment.website}}</p>
<p>{{this.establishment.instagramProfile}}</p>
<p>{{this.establishment.facebookProfile}}</p>
<p>{{this.establishment.street}}</p>
<p>{{this.establishment.city}}</p>
<p>{{this.establishment.zip}}</p>
<p>{{this.establishment.capacity}}</p>