<div class="cont-block">
  <div class="cont-block-img">
    <img class="card-Band-img-top" src='/images/avatar/bands/{{band.id}}_avatar' alt="Card image cap">
  </div>
  <div class="cont-block-data">
    <p class="card-title">Event:</p>
    <p class="card-title-data">{{this.name}}</p>
    <p class="card-title">Band:{{band.id}} </p>
    {{!-- <p class="card-text">Band: {{band.name}}</p> --}}
    <p class="card-title-data">{{band.name}}</p>
    <p class="card-title">Establishment:</p>
    <p class="card-title-data">{{establishment.name}}</p>
    {{!-- <p class="card-text">Establishment: {{establishment.name}}</p> --}}
    <p class="card-title">Tickets for:</p>
    <p class="card-title-data">{{this.price}}</p>
    {{!-- <p class="card-text">Tickets for: {{this.price}}€</p> --}}
  </div>
  <a href="events/{{_id}}" class="bttn">More Details</a>
</div>