<div class="info-event-card" style="background-color:#FFE3D9">
  <a href="events/{{_id}}">
    <div class="event-card-image">
      {{!-- <p clas="card-event-description"><a href="events/{{_id}}">{{this.description}}</a></p> --}}

      <img class="event-card-img" src="/images/default-img-events.png" alt="default Event Image">
      {{!-- aqui debo traer la imagen de la banda que toca --}}
    </div>
    <div class="event-card-description">
      <p>
        Fecha del evento: {{this.schedule}}
      </p>
      <p>
        Precio de la taquilla: {{this.price}}
      </p>
      <p>
        Duración del concierto:{{this.durationMins}}

      </p>
    </div>
    <div class="bttn-join">
      {{!-- al dar click al boton: si eres groupie sin login ten envia a home, si eres banda/local  ten envia a profile --}}
    </div>
  </a>
</div>