<div class="cont-block">
  <div>
    <img class="card-Band-img-top" src="../images/default-img-events.png" alt="Card image cap">
  </div>
  <div>
    <h5 class="card-title">Event: {{this.name}}</h5>
    <p class="card-text">Band: {{band.name}}</p>
    <p class="card-text">Establishment: {{establishment.name}}</p>
    <p class="card-text">Tickets for: {{this.price}}€</p>
    <a href="events/{{_id}}" class="bttn">More Details</a>
  </div>
</div>