<div class="establishment-info">
    <div class="establishment-avatar">
        <img src="{{establishments.avatar}}" alt="">
    </div>
    <h1 class="establishment-title">{{ establishments.name }}</h1>
    <p class="establishment-description">{{ establishments.description }}</p>
    <p class="establishment-capacity">Capacity: <span>{{ establishments.capacity }} People</span></p>
    <div class="external-icons">
        <a href="http://{{establishments.website}}" class="sm-img" target="_blank">
            <img src="/images/www.png" alt="{{ establishments.name }} Website" id="website" />
        </a>
        <a href="http://www.instagram.com/{{establishments.instagramProfile}}" class="sm-img" target="_blank">
            <img src="/images/instagram.png" alt="{{ establishments.name }} Instagram" id="Instagram" />
        </a>
        <a href="http://www.facebook.com/groups/{{establishments.facebookProfile}}" class="sm-img" target="_blank">
            <img src="/images/facebook.png" alt="{{ establishments.name }} Facebook" id="Facebook" />
        </a>
    </div>
    <div class="establishment-adress">
        <img src="/images/crear-evento.png" alt="">
        <p>{{ establishments.street }}, {{ establishments.zip }}, {{ establishments.city }}</p>
    </div>
</div>