<h2>Details of the Establishment:</h2>
<ul>
    <p>Website: {{establishments.website}}</p>
    <p>Instagram Profile: {{establishments.instagramProfile}}</p>
    <p>Facebook Profile: {{establishments.facebookProfile}}</p>
    <p>Adress: {{establishments.street}}</p>
    <p>City: {{establishments.city}}</p>
    <p>Zip Code: {{establishments.zip}}</p>
    <p>Establishment Capacity: {{establishments.capacity}}</p>
</ul>