<div class="container">

    <div class="cont-title">
        <h2>Details of Establishment</h2>
    </div>

    <ul>
        <p>Name: {{establishments.name}}</p>
        <p>Description: {{establishments.description}}</p>
        <p>Website: <a href="{{establishments.website}}">{{establishments.website}}</a></p>
        <p>Instagram: <a href="{{establishments.website}}">{{establishments.instagramProfile}}</a></p>
        <p>Facebook: <a href="{{establishments.website}}">{{establishments.facebookProfile}}</a></p>
        <p>Adress: {{establishments.street}}</p>
        <p>City: {{establishments.city}}</p>
        <p>Zip Code: {{establishments.zip}}</p>
        <p>Establishment Capacity: {{establishments.capacity}}</p>
    </ul>
</div>