<h2>Here's a list with all our events:</h2>
<ul>
    {{#each events}}
    <div class="event-card">
        <h1><a href="events/{{_id}}">{{description}}</a></h1>
        <li>Duración del evento: {{durationMins}}min</li>
        <li>Precio: {{price}}€</li>
        <li>Fecha: {{schedule}}</li>
    </div>
    {{/each}}
</ul>