<div class="container">
    -> REHACER!!!
    <div class="cont-title">
        <h2>Upcoming Events</h2>
        {{fecha}}
    </div>

    <div class="cards-container">
        <ul>
            {{#each events}}
            <div class="card2">
                <div>

                    <h3>{{name}}</h3>
                    <i>Description: {{description}}</i></br>
                    <small>{{schedule}}</small>
                </div>

                <div>
                    <button onclick="location.href='events/{{_id}}'" type="button" class="bttn">Detail</button>
                </div>
            </div>
            {{/each}}
        </ul>

    </div>
</div>