<p>Today is:{{fecha}}</p>
<h2>Upcoming events:</h2>
<div class="cards-container">
    <ul>
        {{#each events}}
        <div class="card2">
            <div>

                <h3>Name: {{name}}</h3>
                <p>Description: {{description}}</p>
                {{!-- <p>Date: {{schedule}}</p> --}}
            </div>
            <div>
                <p class="bttn"><a href="events/{{_id}}">Detail</a></p>

            </div>
        </div>
        {{/each}}
    </ul>

</div>