<p>Today is:{{fecha}}</p>
<h2>Upcoming events:</h2>
<ul>
    {{#each events}}
    <div class="event-card">
        <p>Date: {{schedule}}</p>
        <p>Event name: {{name}}</p>
        <p>Event description: {{description}}</p>
        <p><a href="events/{{_id}}">Detail</a></p>
    </div>
    {{/each}}
</ul>