<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/backbutton.js"></script>

</head>

<body>

  <!-- Simulate a smartphone / tablet look -->
  {{!-- flash notifications --}}
  {{#if successMessages}}
  <p class="msg-success">{{successMessages}}</p>
  {{/if}}
  {{#if errorMessages }}
  <p class="msg-error">{{ errorMessages }}</p>
  {{/if }}
  {{#if infoMessages }}
  <p class="msg-info">{{ infoMessages }}</p>
  {{/if }}
  {{#if dangerMessages }}
  <p class="msg-danger">{{ dangerMessages }}</p>
  {{/if }}
  {{#if warningMessages }}
  <p class="msg-warning">{{ warningMessages }}</p>
  {{/if }}

  {{!-- {{> messages }} --}}

  {{!-- Navbar --}}
  {{#if currentUser }}
  <div class="navbar">
    <a id="navbar-logo" href="/"></a>
    <a href="/user"><img src="/images/perfil.png" alt="" style="height: 29px"></a>
    <a href="/user/profile"><img src="/images/edit.png" alt="" style="height: 29px"></a>
    <a href="/logout" class="logout"> Logout</a>
  </div>
  {{/if}}

  <div class="mobile-container">
    {{{body}}}

    <button class="backbutton" onclick="goBack()"></button>
  </div>
  {{!-- footer  --}}
  <footer class="footer">
    <p>&copy; &nbsp; OkeyToPlay</p>
  </footer>

</body>

</html>