<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
  <script src="/javascripts/backbutton.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

</head>

<body>

  <!-- Simulate a smartphone / tablet look -->
  {{!-- flash notifications --}}
  {{#if successMessages}}
  <p class="msg-success">{{successMessages}}</p>
  {{/if}}
  {{#if errorMessages }}
  <p class="msg-error">{{ errorMessages }}</p>
  {{/if }}
  {{#if infoMessages }}
  <p class="msg-info">{{ infoMessages }}</p>
  {{/if }}
  {{#if dangerMessages }}
  <p class="msg-danger">{{ dangerMessages }}</p>
  {{/if }}
  {{#if warningMessages }}
  <p class="msg-warning">{{ warningMessages }}</p>
  {{/if }}

  {{!-- {{> messages }} --}}

  {{!-- Navbar --}}
  {{#if currentUser }}
  <div class="nav-burguer">
     {{>burguer}}
  </div>
  {{/if}}

  <div class="mobile-container">
    {{{body}}}

    <button class="backbutton" onclick="goBack()"></button>
  </div>



  {{!-- footer  --}}
  <footer>
    <p>&copy; OkeyToPlay 2019</p>
  </footer>

</body>

</html>