<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{#if successMessages}}
  <p class="success">{{successMessages}}</p>
  {{/if}}
  {{#if errorMessages }}
  <p class="error">{{ errorMessages }}</p>
  {{/if }}
  <a href="/">HOMEPAGE</a>
  {{#if currentUser }}
  <p>The user logged In is: {{ currentUser.username }}</p>
  <a href="/logout">Logout</a>
  {{else}}
  <a href="/auth/login">Login</a>
  <a href="/auth/signup">Signup</a>
  {{/if}}
  {{{body}}}
</body>

</html>