<div class="cards-container">
  <h3>Hi!!: {{userFound.username}}</h3>
  {{#if userFound.band.name}}
  <h3><img src="../images/band.png" alt="" style="height: 25px"> {{userFound.band.name}}</h3>
  {{else}}
  <button class="card"><a href="/bands/new">Create Your Band</a></button>
  {{/if}}

  {{#if userFound.establishment.name}}
  <h3>Your Establishment is: {{userFound.establishment.name}}</h3>
  {{else}}
  <button class="card"><a href="/establishments/new">Create Your Establishment</a></button>
  {{/if}}

</div>
{{!-- <h3>Hi!!: {{userFound.username}}</h3>
{{#if userFound.band.name}}
<h3><img src="../images/band.png" alt="" style="height: 25px"> {{userFound.band.name}}</h3>
{{else}}
<button class="cards-container"><a href="/bands/new">Create Your Band</a></button>
{{/if}}

{{#if userFound.establishment.name}}
<h3>Your Establishment is: {{userFound.establishment.name}}</h3>
{{else}}
<button class="cards-container"><a href="/establishments/new">Create Your Establishment</a></button>
{{/if}} --}}

<h3>Basic User options:</h3>
<div class="cards-container">
  <div class="card">
    <p><a href="/user/events">My events</a></p>
  </div>
  <div class="card">
    <p><a href="/events">Events calendar</a></p>
  </div>
</div>
<p>Booked events:<a href="/user/events/bookedevents">Show</a></p>
<p>Show Bands Profiles:<a href="/bands">Show</a></p>
<p>Show Establishment Profiles:<a href="/establishments">Show</a></p>

{{#if userFound.establishment.name}}
<h3>Establishment options:</h3>
<p>Create an event:<a href="/user/events/new">Create Event</a></p>
{{/if}}

{{#if userFound.band.name}}
<h3>Band options:</h3>
<p>Show available event:s<a href="/user/events/bookings">Bookings</a></p>
{{/if}}







{{!-- <ul>
  {{#each role}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<h3>YOUR BAND IS:</h3>
<p>{{userFound.band.name}}</p>
<p>{{userFound.band.genre}}</p>
<p>{{userFound.band.description}}</p> --}}
{{!-- <p>MEMBERS:</p>
<ul>
  {{#each userFound.band.bandMembers1}}
  <li>{{this}}</li>
  {{/each}}
</ul> --}}

{{!-- <h2>{{userFound.username}}</h2>
<p>{{userFound.email}}</p> --}}
{{!-- <p>{{userFound.telephone}}</p>
<p>{{userFound.band}}</p>
<p>{{userFound.establishment}}</p> --}}
{{!-- <p>{{role}}</p> --}}
{{!-- Fase Info --}}