<div>
  <ul>
    {{#each events}}
    {{!-- {{>eventcard this}} --}}
    <button><a href="/user/events/{{this._id}}/edit">EDIT EVENT</a></button><br>
    <button><a href="/user/events/{{this._id}}/delete">DELETE EVENT</a></button><br>
    <p>Event Name: {{this.name}}</p>
    <p>Description: {{this.description}}</p>
    <p>Starting Time: {{this.startTime}}</p>
    <p>Establishment: {{this.establishment}}</p>
    <p>Band: {{this.band}}</p>
    <p>Price: {{this.price}}€</p>
    <p>Duration: {{this.durationMins}}</p>
    <p>GrupiesOKtoPlay: {{this.registeredUsers}}</p>
    {{/each}}
  </ul>

</div>