<h2>{{userFound.username}}</h2>
<p>{{userFound.email}}</p>
<p>{{userFound.telephone}}</p>
<p>{{userFound.band}}</p>
<p>{{userFound.establishment}}</p>
{{!-- <p>{{role}}</p> --}}
{{!-- Fase Info --}}
<h2>You are:</h2>
<button><a href="/bands">Bands</a></button>
<button><a href="/establishments">Establishments</a></button>


<ul>
  {{#each role}}
  <li>{{this}}</li>
  {{/each}}
</ul>
<h3>YOUR BAND IS:</h3>
<p>{{userFound.band.name}}</p>
<p>{{userFound.band.genre}}</p>
<p>{{userFound.band.description}}</p>
{{!-- <p>MEMBERS:</p>
<ul>
  {{#each userFound.band.bandMembers1}}
  <li>{{this}}</li>
  {{/each}}
</ul> --}}