<h3>Welcome: {{user.username}}, {{user.email}}</h3>
{{#if user.band.name}}
<h3>Your Band is: {{user.band.name}}</h3>
<p>Update my band profile </p><button><a href="/user/profile/edit-band">Update Band</a></button>
<p>Delete my band profile </p><button><a href="/user/profile/delete-band">Delete {{user.band.name}}</a></button>
{{/if}}

{{#if user.establishment.name}}
<h3>Your Establishment is: {{user.establishment.name}}</h3>
<p>Update my establishment profile </p><button><a href="/user/profile/edit-establishment">Update
        Establishment</a></button>
<p>Delete my establishment profile </p><button><a href="/user/profile/delete-establishment">Delete
        {{user.establishment.name}}</a></button>

{{/if}}

<h3>Edit my profile here: </h3><button><a href="/user/profile/edit-user">Edit profile</a></button>