<div class="container">

  <div class="cont-title">
    <h2>Welcome {{user.username}}</h2>
    <button onclick="location.href='/user/profile/edit-user'" class="bttn2">Edit Profile</button>
  </div>

  {{!-- {{#if user.establishment.name}}
  <h3>Your Establishment is: {{user.establishment.name}}</h3>
  <p>Update my establishment profile </p><button><a href="/user/profile/edit-establishment">Update
      {{user.establishment.name}}</a></button>
  <p>Delete my establishment profile </p><button><a href="/user/profile/delete-establishment">Delete
      {{user.establishment.name}}</a></button>
  {{/if}} --}}

  {{#if user.establishment.name}}
  <div>
    <h3><img src="../images/local.png" alt="" style="height: 25px">&nbsp Your Establishment is:
      {{user.establishment.name}}
    </h3>
    <button onclick="location.href='/user/profile/edit-establishment'" class="bttn2">Update</button>
    <button onclick="location.href='/user/profile/delete-establishment'" class="bttn2">Delete</button>
  </div>
  {{/if}}

  {{#if user.band.name}}
  <div>
    <h3><img src="../images/band.png" alt="" style="height: 25px">&nbsp Your Band is: {{user.band.name}}</h3>
    <button onclick="location.href='/user/profile/edit-band'" class="bttn2">Update</button>
    <button onclick="location.href='/user/profile/delete-band'" class="bttn2">Delete</button>
  </div>
  {{/if}}

  {{!-- <h3>Edit my profile here: </h3><a href="/user/profile/edit-user">Edit profile</a> --}}
  <h3>Manage my petitions here: </h3><a href="/user/profile/petitions">Edit petitions</a>
</div>