<h3>Welcome: {{userFound.username}}, {{userFound.email}}</h3>
{{#if userFound.band.name}}
<h3>Your Band is: {{userFound.band.name}}</h3>
<p>Update/delete my band profile </p><button><a href="#">Update Band</a></button>
{{else}}
<h3>Create or search your band here: </h3><button><a href="/bands">Your Band</a></button>
{{/if}}

{{#if userFound.establishment.name}}
<h3>Your Establishment is: {{userFound.establishment.name}}</h3>
<p>Update/delete my establishment profile </p><button><a href="#">Update Establishment</a></button>

{{else}}
<h3>Create your establishment here: </h3><button><a href="/establishments/new">Create Establishment</a></button>
{{/if}}

<h3>Edit my profile here: </h3><button><a href="/user/profile">Edit profile</a></button>
<form id='form' action='/user/profile' method='POST'>
    <label for='username'>Username:</label><br>
    <input type='text' name='username' placeholder='Your username' required><br>
    <button type='submit'>Update account</button>
</form>

{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}