<div class="container">

{{#if user.establishment.name}}
<h3>Your Establishment is: {{user.establishment.name}}</h3>
<p>Update my establishment profile </p><button><a href="/user/profile/edit-establishment">Update
    Establishment</a></button>
<p>Update my establishment profile picture </p><button><a href="/user/profile/edit-establishment-avatar">Update
    avatar</a></button>
<p>Delete my establishment profile </p><button><a href="/user/profile/delete-establishment">Delete
    {{user.establishment.name}}</a></button>
{{/if}}

{{#if user.band.name}}
<h3>Your band is: {{user.band.name}}</h3>
<p>Update my band profile </p><button><a href="/user/profile/edit-band">Update
    band</a></button>
<p>Update my band profile picture </p><button><a href="/user/profile/edit-band-avatar">Update
    avatar</a></button>
<p>Delete my band profile </p><button><a href="/user/profile/delete-band">Delete
    {{user.band.name}}</a></button>
{{/if}}

  {{#if user.establishment.name}}
  <div>
    <h3><img src="../images/local.png" alt="" style="height: 25px">&nbsp Your Establishment is:
      {{user.establishment.name}}
    </h3>
    <button onclick="location.href='/user/profile/edit-establishment'" class="bttn2">Update</button>
    <button onclick="location.href='/user/profile/delete-establishment'" class="bttn2">Delete</button>
  </div>
  {{/if}}

  {{#if user.band.name}}
  <div>
    <h3><img src="../images/band.png" alt="" style="height: 25px">&nbsp Your Band is: {{user.band.name}}</h3>
    <button onclick="location.href='/user/profile/edit-band'" class="bttn2">Update</button>
    <button onclick="location.href='/user/profile/delete-band'" class="bttn2">Delete</button>
  </div>
  {{/if}}

  {{!-- <h3>Edit my profile here: </h3><a href="/user/profile/edit-user">Edit profile</a> --}}
  <h3>Manage my petitions here: </h3><a href="/user/profile/petitions">Edit petitions</a>
</div>