<h3>Welcome: {{userFound.username}}, {{userFound.email}}</h3>
{{#if userFound.band.name}}
<h3>Your Band is: {{userFound.band.name}}</h3>
<p>Update my band profile </p><button><a href="/user/profile/edit-band">Update Band</a></button>
<p>Delete my band profile </p><button><a href="/user/profile/delete-band">Delete {{userFound.band.name}}</a></button>
{{/if}}

{{#if userFound.establishment.name}}
<h3>Your Establishment is: {{userFound.establishment.name}}</h3>
<p>Update my establishment profile </p><button><a href="/user/profile/edit-establishment">Update
                Establishment</a></button>
<p>Delete my establishment profile </p><button><a href="/user/profile/delete-establishment">Delete
                {{userFound.establishment.name}}</a></button>

{{/if}}

<h3>Edit my profile here: </h3><button><a href="/user/profile/edit-user">Edit profile</a></button>