<div class="form-update-event">
  <form action="/user/events/{{event._id}}/edit" method="post">
    <label for='name'>Event Name:</label><br>
    <input type='text' name='name' value="{{event.name}}" required><br>
    <label for='description'>Description:</label><br>
    <input type='text' name='description' value='{{event.description}}' required><br>
    <label for='schedule'>Schedule:</label><br>
    <input type='datetime-local' name='schedule' value='{{event.schedule}}' step='1' min='{{fechaActual}}'><br>
    <label for='starTime'>StartTime</label><br>
    <input type='text' name='startTime' value='{{event.startTime}}'><br>
    <label for='price'>Price:</label><br>
    <input type='text' name='price' value='{{event.price}}'>€<br>
    <label for='durationMins'>Duration:</label><br>
    <input type='text' name='durationMins' value='{{event.durationMins}}'><br>

    <button type='submit'>Update EVENT</button>
  </form>
</div>