<div class="container">

  <div class="cont-title">
    <h2>Details of Band</h2>
  </div>

  <h3>Name: {{ bands.name }}</h3>
  <h3>Genre: {{ bands.genre }}</h3>
  <h3>Description: {{ bands.description }}</h3>
  <h3>Website: <a href="{{bands.website}}">{{bands.website}}</a></h3>
  <h3>Instagram: <a href="{{bands.instagramProfile}}">{{bands.instagramProfile}}</a></h3>
  <h3>Facebook:<a href="{{bands.facebookProfile}}">{{bands.facebookProfile}}</a></h3>
  <h3>Avatar: {{ bands.avatar }}</h3>

  {{#if userFound.band.name}}
  {{else}}
  Esta dins:
  <a href="/bands/{{bands._id}}/join">join</a>
  {{/if}}
  Aixo no:
  <a href="/bands/{{bands._id}}/join">join</a>
  <a href="/bands/{{bands._id}}/check">check</a>
</div>