<div class="container">

  <div class="cont-title">
    <h2>Details of Band</h2>
  </div>

  <div class="details-info">
    <p>Name: {{ bands.name }}</p>
    <p>Genre: {{ bands.genre }}</p>
    <p>Description: {{ bands.description }}</p>
    <p>Website: <a href="{{bands.website}}">{{bands.website}}</a></p>
    <p>Instagram: <a href="{{bands.instagramProfile}}">{{bands.instagramProfile}}</a></p>
    <p>Facebook:<a href="{{bands.facebookProfile}}">{{bands.facebookProfile}}</a></p>
    <p>Avatar: {{ bands.avatar }}</>

  </div>

  {{#if userFound.band.name}}
  {{else}}
  Esta dins:
  <a href="/bands/{{bands._id}}/join">join</a>
  {{/if}}
  Aixo no:
  <a href="/bands/{{bands._id}}/join">join</a>
  <a href="/bands/{{bands._id}}/check">check</a>
</div>