<img src="{{bands.avatar}}" alt="" width="300px" height="150px">
<h1>{{ bands.name }}</h1>
<p class="band-description">{{ bands.description }}</p>
<p class="band-genre">{{ bands.description }}</p>
<div class="external-icons">
    <a href="http://{{bands.website}}" class="sm-img" target="_blank">
        <img src="/images/www.png" alt="{{ bands.name }} Website" id="website" />
    </a>
    <a href="http://{{bands.instagramProfile}}" class="sm-img" target="_blank">
        <img src="/images/instagram.png" alt="{{ bands.name }} Instagram" id="Instagram" />
    </a>
    <a href="http://{{bands.facebookProfile}}" class="sm-img" target="_blank">
        <img src="/images/facebook.png" alt="{{ bands.name }} Facebook" id="Facebook" />
    </a>
</div>

{{#if user.band}}
Manage Your band petitions here:
<a href="/user/profile/petitions">Petitions</a>
{{else}}
{{#if checkIfpetition.petitions}}
You already sent a petition.
{{else}}
Send a petition to join {{ ../bands.name }}
<a href="/bands/{{bands._id}}/join">Send</a>
{{/if}}
{{/if}}