<form id='form' action='/user/profile/edit-establishment' method='POST'>
    <div id='Establishment-form-profile'>
        <label for='establishment'>Establishment Name:</label><br>
        <input type='text' name='name' value='{{userEstablishment.name}}'><br>
        <label for='establishment'>Description:</label><br>
        <input type='text' name='description' value='{{userEstablishment.description}}'><br>
        <label for='establishment'>Street:</label><br>
        <input type='text' name='street' value='{{userEstablishment.street}}'><br>
        <label for='establishment'>City:</label><br>
        <input type='text' name='city' value='{{userEstablishment.city}}'><br>
        <label for='establishment'>ZIP Code:</label><br>
        <input type='text' name='zip' value='{{userEstablishment.zip}}'><br>
        <label for='establishment'>Capacity:</label><br>
        <input type='text' name='capacity' value='{{userEstablishment.capacity}}'><br>
        <label for='establishment'>Website</label><br>
        <input type='text' name='website' value='{{userEstablishment.website}}'><br>
        <label for='establishment'>Instagram:</label><br>
        <input type='text' name='instagramProfile' value='{{userEstablishment.instagramProfile}}'><br>
        <label for='Instagram'>Facebook:</label><br>
        <input type='text' name='facebookProfile' value='{{userEstablishment.facebookProfile}}'><br>
        <label for='establishment'>Avatar:</label><br>
        <input type='text' name='avatar' value='{{userEstablishment.avatar}}'><br>
    </div>
    </div>
    <button type='submit'>Update Establishment</button>
</form>

</div>
{{#if errorMessage}}
<div class='error-message'>{{ errorMessage }}</div>
{{/if}}