<div class="petitions">
    <h2>My petitions Area:</h2>
    <p>My Band: <span>{{userBand.name}}</span> </p>
    <p>Current band members:</p>
    <ol>
        {{#each userBand.bandmembers}}
        <li><span>{{this.username}}</span></li>
        {{/each}}
    </ol>
    <p>My Band Petitions:</p>
    {{#each userBand.petitions}}
    <ul>
        <li>
            <p class="petition-user">Username: <span>{{this.username}}</span> <br> Email:<span> {{this.email}}</span></p>
            <a class="decline-btn" href="/user/profile/petitions/{{../user.band}}/{{this._id}}/decline">decline</a>
            <a class="accept-btn" href="/user/profile/petitions/{{../user.band}}/{{this._id}}/accept">accept</a>
        </li>
    </ul>
    {{/each}}
</div>